$blue: rgb(6, 88, 196);

body {
  p {
    // font-size: 1.3em !important;
    // line-height: 1.375em !important;
  }
}

.content__title {
  font-size: 1.8vw;
  color: rgb(44, 44, 44);
  padding-bottom: 4vh;
}

.content__smalltitle {
  font-size: 1vw;
  color: $blue;
  padding-bottom: 1.5vh;
}

.content__subtitle {
  font-size: 1.4vw;
  padding-bottom: 10px;
}

.content__text {
  font-size: 1.5vw;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.text {
  margin: 10vh 0 5vh 0;
}

@media screen and (max-width: 1025px) {
  .content__title {
    font-size: 2.5vw;
  }

  .content__smalltitle {
    font-size: 1.5vw;
  }

  .content__subtitle {
    font-size: 3vh;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .content__title {
    font-size: 4vh;
  }

  .content__smalltitle {
    font-size: 2vw;
  }

  .content__subtitle {
    font-size: 3vh;
  }
  
}

@media screen and (max-width: 768px) {
  .content__title {
    font-size: 4vh;
  }

  .content__smalltitle {
    font-size: 2vh;
  }

  .content__subtitle {
    font-size: 3vh;
  }
}